.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.carousel-container > img {
  align-self: center;
  height: 70vh !important;
  width: 100%;
  object-fit: cover;
}
