.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.car-container {
  width: 500px;
  height: 350px;
}

@media (min-width: 700px) {
  .car-container > img {
    height: 30vh;
  }
}
