.n-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.normal-container > img {
  align-self: center;
  max-height: 35rem;
  width: 100%;
  object-fit: fill;
}
