.testi .imagg {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.testi .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.slide p {
  width: 120%;
  text-align: center;
  padding: 0 100px;
  font-size: 14px;
  font-weight: 400;

}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .peru {
  font-size: 14px;
  font-weight: 600;
}

.details .cmpny {
  font-size: 12px;
  font-weight: 400;
}
