.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 30px 30px;
  color: #333;
  pointer-events: none;
}

.popup .show {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}

.popup .thankicon {
  width: 100px;
  justify-content: center;
  color: goldenrod;
  margin-top: -80px;
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
